
@bgBaseURL: "../../static/img";

@offwhite: #dadada;
@offblack: #333333;

body {
    background-image: url("@{bgBaseURL}/bg.jpg");
    font-size: 13pt;
    font-family: 'Open Sans', sans-serif;
}

aside {
    margin-bottom: 60px;
}

.logos {
    width: 924px;
    margin: auto;
    opacity: 0.8;

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

img.logo {
    width: 400px;
    height: auto;
}

.invisible {
    display: none;
}

.facebook {
    background: no-repeat url("../img/facebook.png");
    height: 50px;
    padding-left: 60px;
    padding-top: 10px;
    font-size: 1.2em;

    a {
        text-decoration: none;
    }
}

section.jumbotron .container {
    padding: 40px 0;

    .logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    nav {
        height: 40px;
        padding-top: 10px;

        text-align: center;

        a {
            font-size: 24px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

a, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover, a:active {
    color: #faa61a;
}

 h2 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
    font-size: 45pt;
}

.bg-image(@image) {
    background-image: url("@{bgBaseURL}/@{image}");
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

.fixed {
    background-attachment: fixed;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0.6);
}

.center {
    text-align: center;
}

section.container {
    color: @offwhite;
    padding: 80px 0;
    margin-bottom: 40px;

    p {
        margin: 30px 0;
    }

    .row {
        margin: 0;
    }
}

section#start {
    padding: 230px 0 0;

    .bg-image('start.jpg');
    height: 900px;
}

aside#bg-biljetter {
    .bg-image('1.jpg');
    height: 500px;
    background-position: 60%;
}

aside#bg-jobba {
    .bg-image('3.jpg');
    height: 500px;
    background-position: 80%;
}

aside#bg-kontakt {
    .bg-image('2.jpg');
    height: 500px;
    background-position: 50%;
}

footer {
    padding-top: 60px;
    padding-bottom: 40px;
    color: @offwhite;

}
