body {
  background-image: url("../../static/img/bg.jpg");
  font-size: 13pt;
  font-family: 'Open Sans', sans-serif;
}
aside {
  margin-bottom: 60px;
}
img.logo {
  width: 400px;
  height: auto;
}
.invisible {
  display: none;
}
.facebook {
  background: no-repeat url("../img/facebook.png");
  height: 50px;
  padding-left: 60px;
  padding-top: 10px;
  font-size: 1.2em;
}
.facebook a {
  text-decoration: none;
}
section.jumbotron .container {
  padding: 40px 0;
}
section.jumbotron .container .logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
section.jumbotron .container nav {
  height: 40px;
  padding-top: 10px;
  text-align: center;
}
section.jumbotron .container nav a {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
a,
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:active {
  color: #faa61a;
}
h2 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
  font-size: 45pt;
}
.fixed {
  background-attachment: fixed;
}
.transparent-bg {
  background-color: rgba(0, 0, 0, 0.6);
}
.center {
  text-align: center;
}
section.container {
  color: #dadada;
  padding: 80px 0;
  margin-bottom: 40px;
}
section.container p {
  margin: 30px 0;
}
section.container .row {
  margin: 0;
}
section#start {
  padding: 230px 0 0;
  background-image: url("../../static/img/start.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 900px;
}
aside#bg-biljetter {
  background-image: url("../../static/img/1.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 500px;
  background-position: 60%;
}
aside#bg-jobba {
  background-image: url("../../static/img/3.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 500px;
  background-position: 80%;
}
aside#bg-kontakt {
  background-image: url("../../static/img/2.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 500px;
  background-position: 50%;
}
footer {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #dadada;
  opacity: 0.5;
}
@media (max-height: 700px) {
  section#start {
    padding: 70px 0 0;
    height: 700px;
  }
}
